# Day-4

In [1]:
import pandas as pd
import requests

# API KEY Paste

In [4]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=59fc7daeb281d5b3929cfc1643c9a721&language=en-US&page=1')

# 6 Col Select code

In [3]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

# DF Show

In [5]:
df.head()

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,166.609,8.700
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",167.615,8.692
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,124.249,8.577
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,124.504,8.567
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,110.113,8.500

# Get a data from page 5

In [7]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=59fc7daeb281d5b3929cfc1643c9a721&language=en-US&page=2')

In [8]:
df1 = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [9]:
df1

,id,title,release_date,overview,popularity,vote_average
0,11216,Cinema Paradiso,1988-11-17,"A filmmaker recalls his childhood, when he fel...",76.029,8.450
1,372754,Dou kyu sei – Classmates,2016-02-20,"Rihito Sajo, an honor student with a perfect s...",49.869,8.446
2,550,Fight Club,1999-10-15,A ticking-time-bomb insomniac and a slippery s...,99.917,8.440
3,1058694,Radical,2023-10-19,"In a Mexican border town plagued by neglect, c...",66.500,8.433
4,157336,Interstellar,2014-11-05,The adventures of a group of explorers who mak...,159.186,8.437
5,539,Psycho,1960-06-22,When larcenous real estate clerk Marion Crane ...,52.367,8.433
6,598,City of God,2002-08-30,"In the slums of Rio, two kids' paths diverge a...",59.758,8.400
7,510,One Flew Over the Cuckoo's Nest,1975-11-19,A petty criminal fakes insanity to serve his s...,50.420,8.421
8,704264,Primal: Tales of Savagery,2019-11-21,Genndy Tartakovsky's Primal: Tales of Savagery...,12.753,8.420
9,311,Once Upon a Time in America,1984-05-23,A former Prohibition-era Jewish gangster retur...,83.238,8.400
10,696374,Gabriel's Inferno,2020-05-29,An intriguing and sinful exploration of seduct...,16.575,8.418
11,120,The Lord of the Rings: The Fellowship of the Ring,2001-12-18,"Young hobbit Frodo Baggins, after inheriting a...",176.516,8.400
12,4935,Howl's Moving Castle,2004-09-09,"Sophie, a young milliner, is turned into an el...",225.281,8.406
13,324857,Spider-Man: Into the Spider-Verse,2018-12-06,Struggling to find his place in the world whil...,143.569,8.403
14,255709,Hope,2013-10-02,After 8-year-old So-won narrowly survives a br...,64.094,8.402
15,724089,Gabriel's Inferno: Part II,2020-07-31,Professor Gabriel Emerson finally learns the t...,15.853,8.398
16,40096,A Dog's Will,2000-09-15,The lively João Grilo and the sly Chicó are po...,28.221,8.397
17,121,The Lord of the Rings: The Two Towers,2002-12-18,Frodo Baggins and the other members of the Fel...,117.465,8.400
18,568332,Taylor Swift: Reputation Stadium Tour,2018-12-31,Taylor Swift takes the stage in Dallas for the...,45.154,8.395
19,14537,Harakiri,1962-09-15,Down-on-his-luck veteran Tsugumo Hanshirō ente...,36.751,8.400

In [10]:
df1.shape

(20, 6)

In [11]:
df1.to_csv('movies.csv')

In [12]:
df1

,id,title,release_date,overview,popularity,vote_average
0,11216,Cinema Paradiso,1988-11-17,"A filmmaker recalls his childhood, when he fel...",76.029,8.450
1,372754,Dou kyu sei – Classmates,2016-02-20,"Rihito Sajo, an honor student with a perfect s...",49.869,8.446
2,550,Fight Club,1999-10-15,A ticking-time-bomb insomniac and a slippery s...,99.917,8.440
3,1058694,Radical,2023-10-19,"In a Mexican border town plagued by neglect, c...",66.500,8.433
4,157336,Interstellar,2014-11-05,The adventures of a group of explorers who mak...,159.186,8.437
5,539,Psycho,1960-06-22,When larcenous real estate clerk Marion Crane ...,52.367,8.433
6,598,City of God,2002-08-30,"In the slums of Rio, two kids' paths diverge a...",59.758,8.400
7,510,One Flew Over the Cuckoo's Nest,1975-11-19,A petty criminal fakes insanity to serve his s...,50.420,8.421
8,704264,Primal: Tales of Savagery,2019-11-21,Genndy Tartakovsky's Primal: Tales of Savagery...,12.753,8.420
9,311,Once Upon a Time in America,1984-05-23,A former Prohibition-era Jewish gangster retur...,83.238,8.400
10,696374,Gabriel's Inferno,2020-05-29,An intriguing and sinful exploration of seduct...,16.575,8.418
11,120,The Lord of the Rings: The Fellowship of the Ring,2001-12-18,"Young hobbit Frodo Baggins, after inheriting a...",176.516,8.400
12,4935,Howl's Moving Castle,2004-09-09,"Sophie, a young milliner, is turned into an el...",225.281,8.406
13,324857,Spider-Man: Into the Spider-Verse,2018-12-06,Struggling to find his place in the world whil...,143.569,8.403
14,255709,Hope,2013-10-02,After 8-year-old So-won narrowly survives a br...,64.094,8.402
15,724089,Gabriel's Inferno: Part II,2020-07-31,Professor Gabriel Emerson finally learns the t...,15.853,8.398
16,40096,A Dog's Will,2000-09-15,The lively João Grilo and the sly Chicó are po...,28.221,8.397
17,121,The Lord of the Rings: The Two Towers,2002-12-18,Frodo Baggins and the other members of the Fel...,117.465,8.400
18,568332,Taylor Swift: Reputation Stadium Tour,2018-12-31,Taylor Swift takes the stage in Dallas for the...,45.154,8.395
19,14537,Harakiri,1962-09-15,Down-on-his-luck veteran Tsugumo Hanshirō ente...,36.751,8.400

In [13]:
df.to_csv('movies_Page1.csv')

In [14]:
df

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,166.609,8.700
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",167.615,8.692
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,124.249,8.577
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,124.504,8.567
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,110.113,8.500
5,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",142.913,8.537
6,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",49.278,8.536
7,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,163.284,8.516
8,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",142.919,8.500
9,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,91.906,8.506
10,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,144.235,8.500
11,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",98.883,8.488
12,122,The Lord of the Rings: The Return of the King,2003-12-01,As armies mass for a final battle that will de...,121.615,8.500
13,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,87.541,8.475
14,429,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,115.361,8.500
15,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",82.867,8.500
16,667257,Impossible Things,2021-06-17,"After the death of her abusive husband, Matild...",15.920,8.459
17,12477,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",0.075,8.459
18,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,58.242,8.458
19,637,Life Is Beautiful,1997-12-20,A touching story of an Italian book seller of ...,64.669,8.451